h1 {
	color: #3c8dbc;
}

h1, h2, h3 {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
	font-size: 22px;
}

p {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.control-label {
	margin-bottom: 25px;
}

#translateButton {
	background-color: #3c8dbc;
	color: #FFFFFF;
	font-weight: bold;
}

.col-sm-6+ .col-sm-6 .box-body {
	height: 157px;
}