h1 {
	color: #3c8dbc;
}

h1, h2, h3 {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
	font-size: 22px;
}

p {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.control-label {
	margin-bottom: 25px;
}